:root{
    --logo-font: Inter;
    --bg-color: rgb(250, 250, 250);
    --foreground-color: rgb(237, 237, 238);
    --section-bg-color: rgba(65, 62, 101, 1);
    --btn-color: rgba(240, 84, 76, 1);
    --secondary-btn-color: rgba(84, 84, 212, 1);
    --text-color:rgba(25, 25, 27, 1);
    --secondary-text-color:rgba(105, 104, 113, 1);
    --btn-text-color: white;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Google Sans Flex", Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: 0.3s ease-in-out;
}

.sec-space{
    margin: 88px auto;
    padding: 16px 40px;
    width: 100%;
    max-width: 1548px;
}

.heading-container{
    margin: 40px auto;

    .section-title{
        font-size: 52px;
        text-align: center;
    }
    .title-description{
        margin: auto;
        max-width: 540px;
        margin-top: 16px;
        text-align: center;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 1px;
        color: var(--secondary-text-color);
    }
}

#active{
    color: var(--secondary-btn-color);
    text-decoration: underline;
}

body{
    position: relative;
    background-color: var(--bg-color);
}


/*  NAVIGATION SECTION */


.navbar{
    width: 100%;
    /* border-bottom: 1px solid var(--section-bg-color); */
    box-shadow: 0px 0px 1px var(--section-bg-color);
    background-color: var(--btn-text-color);
    position: sticky;
    top: 0px;

        
    .nav-div{
        max-width: 1548px;
        margin: 0px auto;
        padding: 12px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p{
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 1.5px;
        }
        
        .links{
            padding-left: 40px;
            display: flex;
            gap: 28px;
            list-style: none;

            li a{
                text-decoration: none;
                color: var(--text-color);
                font-size: 18px;

                &:hover{
                    color: var(--secondary-btn-color);
                    text-decoration: underline;
                }
            }
        }

        .nav-btn{
            text-decoration: none;
            color: var(--btn-text-color);
            font-size: 18px;
            background-color: var(--btn-color);
            padding: 10px 20px;
            border-radius: 4px;
            /* border: 2px solid var(--btn-color); */

            &:hover{
                background-color: var(--secondary-btn-color);
            }
        }
    }
}


/* HERO SECTION  */


.hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:28px;

    .image-container{
        width: 38%;
        img{
            /* margin-left: -15%; */
            width: 100%;
        }
    }

    .hero-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 55%;
        max-width: 620px;
        gap: 24px;

        h1{
            color: var(--text-color);
            font-size: 56px;
            font-weight: bold;
        }

        .hero-list{
            display: flex;
            flex-direction: column;
            gap: 12px;

            .list-item{
                display: flex;
                gap: 8px ;

                i{
                    padding-top: 2px;
                    color: var(--secondary-btn-color);
                    font-weight: bold;
                    font-size: 18px;
                }
                p{
                    font-size: 18px;
                }
            }
        }

        .hero-btn-container{
            display: flex;
            flex-direction: column;
            gap: 8px;
            .hero-btn{
                width: fit-content;
                background-color: var(--btn-color);
                padding: 12px 28px;
                border-radius: 4px;
                text-decoration: none;
                color: var(--btn-text-color);
                font-size: 18px;
                box-shadow: 0px 1px 2px var(--secondary-text-color);

                &:hover{
                    background-color: var(--secondary-btn-color);
                    box-shadow: 0px 2px 4px var(--secondary-text-color);
                }
            }

            .btn-bottom-text{
                p{
                    a{
                        text-decoration: none;
                        margin-left: 4px;

                        &:hover{
                            text-decoration: underline;
                            color: var(--section-bg-color);
                        }
                    }
                }
            }
        }
    }
}


/* TESTIMONIAL SECTION */

.testimonial{
    padding: 48px 16px ;
    .testimonial-container{
        display: flex;
        align-items: center;
        max-width: 740px;
        margin: auto;
        gap: 28px;

        img{
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }

        .testimonial-content{
            .review{
                margin-bottom: 16px;
                font-style: italic;
                font-size: 18px;
                letter-spacing: 1px;
            }

            .name{
                font-size: 20px;
            }
        }
    }
}



/* FEATURES SECTION */


.features{
    background-color: var(--foreground-color);
    margin: 0 auto;
    padding: 80px 40px;
    width: 100%;
    max-width: 1548px;

    .feature-cards{
        margin-top: 52px;
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
        flex-wrap: wrap;

        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            max-width: 320px;

            i{
                font-size: 28px;
                color: var(--secondary-btn-color);
            }
            .card-title{
                font-size: 18px;
                letter-spacing: .5px;
            }
            .card-description{
                color: var(--secondary-text-color);
                text-align: center;
            }
        }
    }
}


    /* LIST-SECTION */

    
.list-section{
    margin: 80px auto;
    padding: 0 40px;
    max-width: 1440px;

    .grids{
        margin: 40px auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 10px;
        justify-content: space-evenly;
        justify-items: center;

        .grid-item{
            background-color: var(--foreground-color);
            border-radius: 6px;
            display: flex;
            padding: 12px 16px;
            width: 100%;
            gap: 6px;

            i{
                margin-top: 2px;
            }
        }
    }
}  


    /* CTA SECTION */

     
.cta{
    max-width: 1440px;
    margin: 64px auto;
    padding: 28px 0;
    background-color: var(--section-bg-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    box-shadow: 0px 12px 26px var(--secondary-text-color);
    /* justify-content: space-between; */

    .left{
        /* background-color: aqua; */
        width: 70%;
        display: flex;
        gap: 20px;
        align-items: center;

        img{
            margin-left: -20px;
            height: 140px;
        }

        .cta-content{
            display: flex;
            min-height: 100px;
            flex-direction: column;
            justify-content: space-evenly;
            h4{
                font-size: 22px;
                color: var(--btn-text-color);
                letter-spacing: 1px;
            }
            p{
                font-size: 18px;
                color: var(--foreground-color);
            }
        }
    }

    .right{
        a{
            margin-right: 2vw;
            text-decoration: none;
            color: var(--btn-text-color);
            background-color: var(--btn-color);
            font-size: 18px;
            padding: 16px 28px;
            border-radius: 4px;

            &:hover{
                background-color: var(--secondary-btn-color);
            }
        }
    }
}

@media screen and (width<1025px) {
    
    .sec-space{
        margin: 48px auto;
        padding: 8px 16px;
        width: 100%;
    }

    /* HERO SECTION  */


    .hero{
        gap:18px;

        .hero-content{
            gap: 18px;

            h1{
                font-size: 48px;
            }

            .hero-list{
                gap: 8px;

                .list-item{
                    gap: 6px;

                    i{
                        font-size: 16px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }

            .hero-btn-container{
                gap: 6px;

                .hero-btn{
                    padding: 12px 24px;
                    font-size: 16px;
                }

                .btn-bottom-text{
                    p{
                        font-size: 14px;
                        a{
                            margin-left: 2px;
                        }
                    }
                }
            }
        }
    }


    /* TESTIMONIAL SECTION */



    /* FEATURES SECTION */


    /* LIST-SECTION */

       

    
    /* CTA SECTION */

     

}


/* TABLET SCREEN SIZE */


@media screen and (width<769px) {
    .sec-space{
        margin: 32px auto;
        padding: 4px 12px;
        width: 100%;
    }

    .heading-container{
        margin: 36px auto;

        .section-title{
            font-size: 33px;
        }
        .title-description{
            max-width: 480px;
            margin-top: 14px;
            text-align: center;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: .5px;
            color: var(--secondary-text-color);
        }
    }


    /*  NAVIGATION SECTION */


    .navbar{
        .nav-div{
            padding: 10px 20px;
            p{
                display: none;
            }
            .links{
                padding-left: 12px;
            }
        }
    }


    /* HERO SECTION  */


    .hero{
        gap:16px;

        .hero-content{
            gap: 16px;

            h1{
                font-size: 36px;
            }

            .hero-list{
                gap: 6px;

                .list-item{
                    gap: 4px;

                    i{
                        padding-top: 1px;
                        font-size: 12px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
            }

            .hero-btn-container{
                gap: 5px;

                .hero-btn{
                    padding: 10px 20px;
                    font-size: 14px;
                }

                .btn-bottom-text{
                    p{
                        font-size: 13px;
                        a{
                            margin-left: 1px;
                        }
                    }
                }
            }
        }
    }


    /* TESTIMONIAL SECTION */

    .testimonial{
        padding: 28px 16px ;
        .testimonial-container{
            padding: 0 5%;
            gap: 18px;

            img{
                width: 88px;
                height: 88px;
            }

            .testimonial-content{
                .review{
                    margin-bottom: 12px;
                    font-size: 13px;
                }
                .name{
                    font-size: 17px;
                }
            }
        }
    }


    /* FEATURES SECTION */


    .features{
        padding: 40px 16px;

        .feature-cards{
            margin-top: 40px;
            display: flex;
            gap: 28px;
            align-items: center;
            flex-wrap: wrap;

            .card{
                gap: 12px;
                max-width: 280px;

                .card-title{
                    font-size: 16px;
                    letter-spacing: .5px;
                }
                .card-description{
                    font-size: 14px;
                    text-align: justify;
                }
            }
        }
    }


    /* LIST-SECTION */

    .list-section{
        margin: 48px auto;
        padding: 0 20px;

        .grids{
            margin: 32px auto;

            .grid-item{
                width: 100%;

                i{
                    font-size: 14px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }   


    /* CTA SECTION */


     .cta{
        margin: 56px auto;
        flex-wrap: wrap;
        gap: 0vw;
        /* justify-content: center; */

        .left{
            width: 55%;
            min-width: 280px;
            gap: 12px;

            img{
                height: 100px;
            }

            .cta-content{

                h4{
                    font-size: 18px;
                    letter-spacing: 0.5px;
                }
                p{
                    margin-top: 6px;
                    margin-bottom: 8px;
                    font-size: 14px;
                }
            }
        }

        .right{
            margin: 16px 0px;
            a{
                width: 100%;
                margin: 8px;
                font-size: 14px;
            }
        }
    }
}


/* MOBILE SCREEN SIZE */


@media screen and (width<426px) {
    .sec-space{
        margin: 28px auto;
        padding: 12px 12px;
        width: 100%;
    }

    .heading-container{
        margin: 40px auto;

        .section-title{
            font-size: 30px;
        }
        .title-description{
            padding: 0 18px;
            margin: auto;
            margin-top: 12px;
            font-size: 12px;
            line-height: 20px;
            letter-spacing: .5px;
        }
    }

    /*  NAVIGATION SECTION */


    .navbar{
        .nav-div{
            p{
                display: none;
            }
            .links{
                padding-left: 0px;
                gap: 16px;

                li a{
                    font-size: 16px;
                }
            }

            .nav-btn{
                font-size: 16px;
                padding: 8px 16px;
            }
        }
    }


    /* HERO SECTION  */

    
    .hero{
        flex-direction: column;
        gap:16px;

        .image-container{
            width: 60%;
            margin-left: -40px;
        }
        .hero-content{
            width: 100%;
            gap: 16px;

            h1{
                font-size: 33px;
                text-align: center;
            }

            .hero-list{
                gap: 6px;
                width: 300px;
                margin: 0 auto;

                .list-item{
                    gap: 4px;

                    i{
                        padding-top: 1px;
                        font-size: 12px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
            }

            .hero-btn-container{
                align-items: center;
                gap: 5px;

                .hero-btn{
                    padding: 10px 20px;
                    font-size: 14px;
                }

                .btn-bottom-text{
                    p{
                        font-size: 13px;
                        a{
                            margin-left: 1px;
                        }
                    }
                }
            }
        }
    }


    /* TESTIMONIAL SECTION */

    .testimonial{
        padding: 28px 16px ;
        .testimonial-container{
            flex-direction: column;
            gap: 16px;

            img{
                width: 80px;
                height: 80px;
            }

            .testimonial-content{
                .review{
                    margin-bottom: 12px;
                    text-align: center;
                    font-size: 12px;
                }
                .name{
                    text-align: center;
                    font-size: 16px;
                }
            }
        }
    }


    /* FEATURES SECTION */


    .features{
        padding: 40px 16px;

        .feature-cards{
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 28px;
            align-items: center;
            flex-wrap: nowrap;

            .card{
                gap: 10px;
                max-width: 100%;

                .card-title{
                    font-size: 14px;
                    letter-spacing: .5px;
                }
                .card-description{
                    font-size: 12px;
                }
            }
        }
    }


    /* LIST-SECTION */

    .list-section{
        margin: 40px auto;
        padding: 0 16px;

        .grids{
            margin: 32px auto;

            .grid-item{
                width: 95%;

                i{
                    font-size: 14px;
                }
                p{
                    font-size: 13px;
                }
            }
        }
    }  

    /* CTA SECTION */

    .cta{
        margin: 52px auto;
        flex-direction: column;
        justify-content: center;

        .left{
            width: 90%;

            img{
                height: 100px;
            }

            .cta-content{

                h4{
                    font-size: 15px;
                    letter-spacing: 0.5px;
                }
                p{
                    font-size: 11px;
                }
            }
        }

        .right{
            margin-top: 14px;
            a{
                width: 100%;
                padding: 10px 28vw;
                margin: 8px;
                font-size: 12px;
            }
        }
    }
}